<ion-header [translucent]="true">
<app-header></app-header>
</ion-header>

<ion-content >
  <div [style]="this.styleDiv">
  
  <ion-list>
    <ion-item>Luis</ion-item>
    
      <ion-item>{{this.nameStudent1}}</ion-item>
      
        <ion-item>Luisa</ion-item>
      
  </ion-list>
  
  <ion-list>
  <ion-item *ngFor="let entry of form">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-button color="dark" expand="block" (click)="this.changeStyle()">
  <ion-icon [name]="this.icon" style="padding-right:5px">
  </ion-icon>
  Dark
</ion-button>


  
  </div>

</ion-content>
