<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content>
  <div style="padding:5px">
    <p style="font-weight: bold;" *ngIf="this.showParagraph">
      The next year is very import for Chibchombia....so the soccer dont assist
      the world cup ...
    </p>

    <ion-button (click)="this.showNotShowP()" expand="block"
      >show or not show paragraph</ion-button
    >

    <ion-button (click)="this.getNasaInformation()" expand="block">
      Get nasa photos</ion-button
    >

    <ion-card
      *ngFor="let image of this.photosNasa"
      style="background-color: #F5F7F7; "
    >
      <ion-card-header>
        <ion-card-subtitle
          ><span style="font-weight: bold; color:black;">Camera: </span>
          {{image.camera.full_name}}</ion-card-subtitle
        >
        <ion-card-subtitle>Date: {{image.earth_date}}</ion-card-subtitle>
        <ion-card-subtitle>Rover: {{image.rover.name}}</ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>

      <ion-img [src]="image.img_src" style="padding-top: 8px"></ion-img>
    </ion-card>
  </div>
</ion-content>
